// Body
$body-bg: #F7F7F8;
$body-color: #000;

// Typography
$font-family-sans-serif: "proxima-soft", sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #5596FF;
$indigo: #6574CD;
$purple: #9561E2;
$pink: #F66D9B;
$red: #E3342F;
$orange: #F6993F;
$yellow: #FFED4A;
$green: #38C172;
$teal: #4DC0B5;
$cyan: #6CB2EB;