// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "common/flexbox";
@import "common/mixins";
@import "common/breakpoints";
@import "components/header";
@import "components/footer";
@import "components/streamer";
@import "components/ph-alert";
@import "components/card";
@import "components/twitch-panel";
@import "components/resource";

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blink {
    animation: blinker 1.2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
html {
    position: relative;
    min-height: 100%;
}
.site-content {
    @include flex-grow(1);
    height: 100%;
}
#app {
    min-height: 100vh;
    @include flexbox();
    @include flex-direction(column);
}
