@-webkit-keyframes width-anim {
	from {
		max-width: 0px
	}
	1.5% {
		max-width: 0px;
	}
	1.75% {
		max-width: 750px;
	}
	9% {
		max-width: 750px;
	}
	9.25% {
		max-width: 0;
	}
	to {
		max-width: 0;
	}
}
@keyframes width-anim {
	from {
		max-width: 0;
	}
	1.5% {
		max-width: 0;
	}
	1.75% {
		max-width: 750px;
	}
	9% {
		max-width: 750px;
	}
	9.25% {
		max-width: 0;
	}
	to {
		max-width: 0;
	}
}
@-webkit-keyframes opacity-anim {
	from {
		opacity: 0;
	}
	1.75% {
		opacity: 0;
	}
	2.4% {
		opacity: 1;
	}
	8.3% {
		opacity: 1;
	}
	9% {
		opacity: 0;
	}
	to {
		opacity: 0;
	}
}
@keyframes opacity-anim {
	from {
		opacity: 0;
	}
	1.75% {
		opacity: 0;
	}
	2.4% {
		opacity: 1;
	}
	8.3% {
		opacity: 1;
	}
	9% {
		opacity: 0;
	}
	to {
		opacity: 0;
	}
}
.container {
	position: relative;
}

.message-container {
	width: 100%;
	max-width: 750px;
	height: 4rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	position: absolute;
	background: white;
	top: calc(79px - 2rem);
	left: 140px;
	-webkit-animation: width-anim 180s ease-in-out infinite;
	animation: width-anim 180s ease-in-out infinite;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 2rem;
	font-weight: bold;
}

p {
	-webkit-animation: opacity-anim 180s ease-in-out infinite;
	animation: opacity-anim 180s ease-in-out infinite;
}

svg {
	position: relative;
	z-index: 10;
}

body {
	background: darkgray;
	font-family: "proxima-soft", sans-serif;
}

span, .website-text { color: #FF5467; }
.twitter-text { color: #1da1f2; }
.youtube-text { color: #ff0000; }